{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Mon panier
{% endblock %}

{% block body %}


	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
		Mon panier</h1>


	


{% endblock %}
